.input-default{
    border: 2px solid var(--color-grey-4);
    padding: var(--padding-input-1);
    border-radius: var(--radius-1);
    height: 52px;
} 
.input-default::placeholder{
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-3);
}

.card .input-group{
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
    margin-top: 30px;
}
