.modal-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 2;
}
.modalErro{
    background-color: var(--color-brand-1);
    position: absolute;
    width: 90%;
    max-width: 440px;
    min-height: 190px;
    padding: 32px 15px 24px 20px;
    border-radius: var(--radius-2);
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: modalTopEmerge 1s ease;
}
.modalErro .content .font-text-1{
    color: var(--white);
    font-weight: 600;
    margin-bottom: 20px;
}
.modalErro .content .font-text-2{
    color: var(--white);
    word-break: break-word;
}
.modalPost{
    width: 90%;
    max-width: 760px;
    background-color: white;
    height: max-content;
    max-height: 80%;
    margin-top: 62px;
    padding: 40px 24px;
    border-radius: var(--radius-2);
    position: relative;
    max-height: 80vh;
    animation: modalTopEmerge .5s ease;
}
.modalPost .post__content{
    overflow-y: scroll;
}
.modalPost-button{
    position: absolute;
    right: 10px;
    top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: var(--font-title-2);
    background-color: var(--color-grey-5);
    color: var(--color-grey-3);
}

@media (min-width: 768px){
    .modalErro{
        margin: 0;
        bottom: 45px;
        right: 22px;
        padding: 32px 20px 24px 20px;
        animation: modalRightEmerge 1s ease;
    }
    .modalPost{
        margin-top: 120px;
    }
}

@keyframes modalTopEmerge {
    from{
        transform: translateY(-300px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes modalRightEmerge {
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}