body{
    background-color: var(--color-grey-5);
}
header{
    width: 100%;
    padding: var(--padding-header);
    background-color: var(--color-grey-1);
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: var(--container-1);
}
.header__logo{
    color: var(--white);
}
.header__buttons{
    display: flex;
    justify-content: center;
}
.main{
    width: 100%;
}
/* CARDS */
.card{
    background-color: white;
    padding: var(--padding-card);
    width: 100%;
    max-width: var(--card-width);
    border-radius: var(--radius-2);
    margin: 0 auto;
}
.card-redirect{
    text-align: center;
    margin-top: var(--gap-4);
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}
/* CARD LOGIN */
.card-login{
    margin-top: 60px;
    display: block;
}
/* CARD CADASTRO */
.card-cadastro{
    margin-top: 30px;
    display: none;
}
.cadastro-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cadastro-header .button-outline{
    padding: 4px 10px;
}

@media (min-width:768px){
    .card{
        margin-top: 110px;
    }

}